body {
  text-align: center;
}

#track {
  display: inline-block;
}

path {
  fill: none;
  stroke: #000;
  stroke-width: 15px;
}

/* position */
circle {
  fill: #2C90FE;
  stroke: #fff;
  stroke-width: 5px;
}

/* stop points */
circle.stopPoint {
  fill: black;
  stroke: #fff;
  stroke-width: 3px;
}