body {
  text-align: center;
}

/* TRACK */

#track {
  display: inline-block;
}

path.trackPart {
  fill: none;
  stroke: darkgrey;
  stroke-width: 15px;
}

circle.position {
  fill: #2C90FE;
  stroke: #fff;
  stroke-width: 3px;
}

circle.stopPoint {
  fill: black;
  stroke: #fff;
  stroke-width: 3px;
}
